<ion-header>
  <ion-toolbar>
    <ion-title>Verify Your Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div #map id="map"></div>
 
  
    <ion-row justify-content-between align-items-start>
    <ion-button shape="round" color="success" routerLink="../account" routerDirection="back"><ion-icon slot="start" name="contact"></ion-icon>Account</ion-button>
    <ion-button shape="round" color="success" routerLink="../camera" router Direction="forward"><ion-icon slot="start" name="camera"></ion-icon>Take Photo</ion-button>
  </ion-row>

</ion-content>
