/*stylesheet.css */
  button {
    border-radius: 5px;
    color: white;
    background-color: mediumseagreen;
    padding: 5px 10px 8px 10px;
  }
  
  button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
  }
  
  @keyframes background-color {
    100% {
      background-color: lightgreen;
    }
	.bioPic 
	{
	display:block;
	width: 50em;
	height:auto;
	border:thin #000000;
	border-radius: 100%;
	}
  }

