<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <div class="button-container">
<p><ion-button size="large" color="success">Map</ion-button></p>
<p><ion-button size="large" color="success">Location Check-In</ion-button></p>
<p><ion-button size="large" color="success">Profile Settings</ion-button></p>
<p><ion-button size="large" color="success">User Activity</ion-button></p>
</div>
</ion-content>
